<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-judopay-googlepay"
		version="0.0.1"
		xmlns:android="http://schemas.android.com/apk/res/android"
		xmlns="http://apache.org/cordova/ns/plugins/1.0">
	<name>JudopayGooglePay</name>
	<js-module name="JudopayGooglePay"
			   src="www/GooglePay.js">
		<clobbers target="cordova.plugins.JudopayGooglePay" />
	</js-module>
	<platform name="android">
		<config-file parent="/*/application" target="AndroidManifest.xml">
			<meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />
		</config-file>
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="GooglePay">
				<param name="android-package" value="com.plugin.dynamify.JudopayGooglePay"/>
			</feature>
		</config-file>
		<source-file src="src/android/JudopayGooglePay.java" target-dir="src/com/plugin/judopaygooglepay" />
		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
	</platform>
</plugin>
